<!DOCTYPE html>
<html>

<head>
    <title>URL Shortner App</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class=page>
        <h1>Short URL App</h1>

        <p>
            <form action="/short" method="post" name="input">
                <input id="url" name="url" type="text" placeholder="http://www.long.url.com">
                <input type="submit" value="Get shorter URL!">
            </form>
        </p>

        {% block new_url %}{% endblock %}

    </div>

    <p>
        <h5>Test Project
    </p>


</body>

</html>
